{% extends "base.twig" %}

{% block main %}
    <h2>Administrator Notices &rsaquo; Edit</h2>
    <form method="post">
        {{ anti_csrf() }}
        <div class="form-group">
            <label for="notice-title">Headline:</label>
            <input
                class="form-control"
                id="notice-title"
                name="title"
                type="text"
                value="{{ notice.headline|e('html_attr') }}"
            />
        </div>

        <div class="form-group">
            <label for="notice-body">Contents:</label>
            <textarea
                class="form-control"
                id="notice-body"
                name="contents"
            >{{ notice.body|e('html_attr') }}</textarea>
            <small>Markdown allowed.</small>
        </div>
        <div class="form-group">
            <label for="contents-preview">Preview:</label>
            <div class="scrollbox entry-preview" id="contents-preview"></div>
        </div>

        <button class="btn btn-verydark form-control" type="submit">
            Update Notice
        </button>
    </form>

{% endblock %}
{% block javascript %}
{{ parent() }}
<script src="/static/admin-notice.js" nonce="{{ csp_nonce('script-src') }}"></script>
{% endblock %}