{% extends "base.twig" %}

{% block main %}
    <h1>{{ collection.title|e('html') }}</h1>

    <p class="collection-owner">
        Created by: <a href="/@{{ collection.author_screenname|e('url') }}">@{{ collection.author_screenname|e('html') }}</a>
    </p>

    {% if collection.description %}
    <div id="collection-description">{{ collection.description|raw }}</div>
    <h3 id="collection-entry-header">Entries in This Collection</h3>
    {% endif %}

    {% if entries %}
        <ol id="collection-entries">
        {% for entry in entries %}
            <li class="collection-entry" id="entry-{{ entry.entryid }}">
                <a href="/@{{
                    entry.author_screenname|e('url') ~
                        "/" ~
                    entry.collection_url|e('url') ~
                        "/" ~
                    entry.url|e('url')
                }}">{{ entry.title }}</a>
            </li>
        {% endfor %}
        </ol>
    {% else %}
        <p>Sorry, there are no indexed entries in this collection.</p>
    {% endif %}
{% endblock %}