{% extends "base.twig" %}

{% block main %}
    <h1>{{ faqoff_custom.vars['site-name']|default('FAQ Off') }}</h1>
    <div id="front-popular" class="row">
        <div class="col-sm-6" id="front-popular-collections">
            <h2>Popular Collections</h2>
            <ol>
            {% for col in popular_collections %}
                <li>
                    <a href="/@{{
                        col.author_screenname|e('url') ~ "/" ~ col.url|e('url')
                    }}"
                       title="{{ col.hits|number_format }} hit{{ col.hits == 1 ? '' : 's' }} in the past 24 hours"
                    >{{ col.title }}</a>
                </li>
            {% endfor %}
            </ol>
        </div>
        <div class="col-sm-6" id="front-popular-entries">
            <h2>Popular Entries</h2>
            <ol>
                {% for ent in popular_entries %}
                    <li>
                        <a href="/@{{
                            ent.author_screenname|e('url') ~ "/" ~
                            ent.collection_url|e('url') ~ "/" ~
                            ent.url|e('url')
                        }}"
                           title="{{ ent.count|number_format }} hit{{ ent.count == 1 ? '' : 's' }} in the past 24 hours"
                        >{{ ent.title }}</a>
                    </li>
                {% endfor %}
            </ol>
        </div>
    </div>
    {% if notices %}
    <h2>News and Updates</h2>
    <div id="front-page-news">
    {% for notice in notices %}
        <div class="front-page-news">
            <h2>{{ notice.headline }}</h2>
            <div class="front-page-news-time">{{ notice.created|date('F j, Y g:i:s A') }}</div>
            <div class="front-page-news-body">{{ notice.body|raw }}</div>
        </div>
    {% endfor %}
    </div>
    {% endif %}
{% endblock %}