{% extends "base.twig" %}

{% block main %}
    <h2>Control Panel &rsaquo; Author &rsaquo; {{ author.screenname|e }}</h2>

    <h3>Collections (<a href="/manage/author/{{ author.authorid }}/collection/create">Create New</a>)</h3>
    {% if collections %}
        <ul>
        {% for i, collection in collections %}
            <li>
                <a href="/manage/collection/{{ collection.collectionid }}/entries">{{ collection.title|e }}</a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}

    <h3>Edit Author Information</h3>
    <form method="post">{{ anti_csrf() }}
        <div class="form-group">
            <label{% if faqoff_custom.vars['dark-theme'] %} class="bg-dark text-light"{% endif %} for="author-bio">Author Biography:</label>
            <textarea
                class="form-control"
                id="author-bio"
                name="biography"
            >{{ post.biography|e('html_attr') }}</textarea>
            <small>Markdown allowed.</small>
        </div>
        <div class="form-group">
            <label{% if faqoff_custom.vars['dark-theme'] %} class="bg-dark text-light"{% endif %} for="contents-preview">Preview:</label>
            <div class="scrollbox entry-preview" id="contents-preview"></div>
        </div>
        <button type="submit" class="btn btn-verydark form-control">Update Author</button>
    </form>
{% endblock %}
{% block javascript %}
{{ parent() }}
<script src="/static/manage-author.js" nonce="{{ csp_nonce() }}"></script>
{% endblock %}