{% extends "base.twig" %}

{% block main %}
    <h2>Control Panel &rsaquo; Authors</h2>

    <div class="helptext" id="author-index-helptext">
        <div class="helptext-icon helptext-icon-large float-left d-none d-md-inline-block">{#
            #}<i class="fas fa-question-circle"></i>{#
        #}</div>
        <p>
            <strong>Authors</strong> are public-facing identities which can own collections
            of FAQ entries.
        </p>
        <p>
            Each user may have access to many authors.
        </p>
        <p>
            Each author may have many contributors (but only one owner).
        </p>
    </div>

    <p>
        <a class="btn btn-verydark" href="/manage/author/create">Create New Author Profile</a>
    </p>

    {% if authors %}
    <h3>My Authors</h3>
    <div class="manage-author-list">
        {% for author in authors %}
            <div class="row">
                <div class="col-sm-10">
                    <a href="/manage/author/{{ author.authorid }}">{{ author.screenname|e }}</a>
                    {% if author.is_owner %} (Owner) {% else %} (Contributor) {% endif %}
                </div>
                <div class="col-sm-2 text-right">
                    <a href="/manage/author/{{ author.authorid }}/inbox" class="btn btn-verydark">
                        <i class="fas fa-inbox"></i>
                        Questions ({#
                            #}{% if author.question_count > 0 %}{#
                                #}<strong>{{ author.question_count|number_format }}</strong>{#
                            #}{% else %}{#
                                #}{{ author.question_count|number_format }}{#
                            #}{% endif %}{#
                        #})
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
    <p>
        <a class="btn btn-verydark" href="/manage/author/create">Create New Author Profile</a>
    </p>
    {% endif %}

{% endblock %}