{% extends "base.twig" %}

{% block main %}
    <h2>Control Panel &rsaquo; New Author</h2>
    <form method="post">{{ anti_csrf() }}
        <div class="form-group">
            <label class="bg-dark text-light" for="author-name">Author Name:</label>
            <input
                class="form-control"
                id="author-name"
                name="name"
                required="required"
                type="text"
                value="{{ post.name|e('html_attr') }}"
            />
        </div>
        <div class="form-group">
            <label class="bg-dark text-light" for="author-bio">Author Biography:</label>
            <textarea
                class="form-control"
                id="author-bio"
                name="biography"
            >{{ post.biography|e('html_attr') }}</textarea>
            <small>Markdown allowed.</small>
        </div>
        <div class="form-group">
            <label class="bg-dark text-light" for="contents-preview">Preview:</label>
            <div class="scrollbox entry-preview" id="contents-preview"></div>
        </div>
        <button type="submit" class="btn btn-verydark form-control">Create New Author</button>
    </form>
{% endblock %}
{% block javascript %}
{{ parent() }}
<script src="/static/manage-author.js" nonce="{{ csp_nonce() }}"></script>
{% endblock %}