{% extends "base.twig" %}

{% block main %}
    <h2>Control Panel &rsaquo; Collections &rsaquo; {{ collection.title|e('html_attr') }}</h2>

    <h3>Actions</h3>
    <ul>
        <li><a href="/manage/collection/{{ collection.collectionid }}/entries">View/Manage Entries</a></li>
        <li><a href="/manage/collection/{{ collection.collectionid }}/entry/create">Create New Entry</a></li>
    </ul>


    <h3>Edit Collection</h3>
    {% if errors %}
        {% for i, error in errors %}
            <p class="error" id="error-{{ i|e('html_attr') }}">{{ error }}</p>
        {% endfor %}
    {% endif %}

    <form method="post">
        {{ anti_csrf() }}
        <div class="form-group">
            Author: <a href="/manage/author/{{ collection.authorid }}">@{{ collection.author_screenname|e('html_attr') }}</a>
        </div>
        <div class="form-group">
            <label{% if faqoff_custom.vars['dark-theme'] %} class="bg-dark text-light"{% endif %} for="collection-title">Collection Title:</label>
            <input
                class="form-control"
                id="collection-title"
                name="title"
                required="required"
                type="text"
                value="{{ post.title|e('html_attr') }}"
            />
        </div>

        <div class="form-group">
            <label for="collection-description">Collection Description:</label>
            <textarea
                class="form-control"
                id="collection-description"
                name="description"
            >{{ post.description|e('html_attr') }}</textarea>
            <small>Markdown allowed.</small>
        </div>
        <div class="form-group">
            <label for="contents-preview">Preview:</label>
            <div class="scrollbox entry-preview" id="contents-preview"></div>
        </div>
        <div class="form-group">
            <label{% if faqoff_custom.vars['dark-theme'] %} class="bg-dark text-light"{% endif %} for="collection-theme">Theme:</label>
            <select class="form-control" id="collection-theme" name="theme">
                <option value="">Default Theme</option>
                {% if themes %}
                <optgroup label="Custom Themes">
                {% for theme in themes %}
                    <option{#
                        #} {% if post.theme == theme.themeid %} selected="selected"{% endif %}{#
                        #} value="{{ theme.themeid }}"{#
                    #}>{{ theme.name|e('html_attr') }}</option>
                {% endfor %}
                {% endif %}
            </select>
        </div>

        <div class="form-group">
            <input{% if collection['allow_questions'] %}
                checked="checked"{% endif %}
                id="collection-questions-checkbox"
                name="question_box"
                type="checkbox"
                value="1"
            />
            <label{% if faqoff_custom.vars['dark-theme'] %} class="bg-dark text-light"{% endif %} for="collection-questions-checkbox">
                Accept questions for this collection?
            </label>
        </div>

        <button type="submit" class="btn btn-verydark">Update Collection</button>
    </form>
{% endblock %}

{% block javascript %}
{{ parent() }}
<script src="/static/manage-collection.js" nonce="{{ csp_nonce('script-src') }}"></script>
{% endblock %}