{% extends "base.twig" %}

{% block main %}
    <h2>Control Panel &rsaquo; Collections &rsaquo; {{ collection.title|e('html_attr') }} &rsaquo; Entries</h2>

    <h3>Actions</h3>
    <ul>
        <li><a href="/manage/collection/{{ collection.collectionid }}">Edit Collection Info</a></li>
        <li><a href="/manage/collection/{{ collection.collectionid }}/entry/create">Create New Entry</a></li>
        <li>
            <a href="/manage/collection/{{ collection.collectionid }}/inbox">
                View questions for this collection ({{ collection.question_count }})
            </a>
        </li>
    </ul>

    <h3>Entries</h3>

    <table id="manage-collection-entries" class="table table-striped">
        <thead>
        <tr>
            <th>Question</th>
            <th>Created</th>
            <th>Modified</th>
            <th>Questions</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>Question</th>
            <th>Created</th>
            <th>Modified</th>
            <th>Questions</th>
        </tr>
        </tfoot>
        <tbody>
            {% for entry in entries %}
            <tr>
                <td>
                    <a href="/manage/collection/{{ collection.collectionid }}/entry/{{ entry.entryid }}">
                        #{{ entry.entryid }} - {{ entry.title|e('html_attr') }}
                    </a>
                </td>
                <td>
                    <time datetime="{{ entry.created }}">{{ entry.created|format('F j, Y g:i A') }}</time>
                </td>
                <td>
                    <time datetime="{{ entry.modified }}">{{ entry.modified|format('F j, Y g:i A') }}</time>
                </td>
                <td>
                    <a href="/manage/collection/{{ collection.collectionid }}/entry/{{ entry.entryid }}/inbox">
                        Questions ({% if entry.question_count > 0 %}{#
                            #}<strong>{{ entry.question_count }}</strong>{#
                        #}{% else %}{#
                            #}{{ entry.question_count }}{#
                        #}{% endif %})
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}