{% extends "base.twig" %}

{% block main %}
    <h2>Control Panel &rsaquo; Collections &rsaquo; {{ collection.title|e('html_attr') }} &rsaquo; New Entry</h2>

    <h3>Actions</h3>
    <ul>
        <li><a href="/manage/collection/{{ collection.collectionid }}/entries">View/Manage Entries</a></li>
    </ul>

    <h3>Create New Entry</h3>
    {% if errors %}
        {% for i, error in errors %}
            <p class="error" id="error-{{ i|e('html_attr') }}">{{ error }}</p>
        {% endfor %}
    {% endif %}

    <form method="post">
        {{ anti_csrf() }}
        <div class="form-group">
            Author: <a href="/manage/author/{{ collection.authorid }}">@{{ collection.author_screenname|e('html_attr') }}</a>
        </div>
        <div class="form-group">
            Collection: <a href="/manage/collection/{{ collection.collectionid }}">{{ collection.title|e('html_attr') }}</a>
        </div>
        <div class="form-group">
            <label class="bg-dark text-light" for="entry-title">Entry Title:</label>
            <input
                class="form-control"
                id="entry-title"
                name="title"
                required="required"
                type="text"
                value="{{ post.title|e('html_attr') }}"
            />
        </div>
        <div class="form-group">
            <label class="bg-dark text-light" for="entry-contents">Contents:</label>
            <textarea
                class="form-control"
                data-collectionid="{{ collection.collectionid }}"
                id="entry-contents"
                name="contents"
            >{{ post.contents|e('html_attr') }}</textarea>
            <small>Markdown allowed.</small>
        </div>
        <div class="form-group">
            <label class="bg-dark text-light" for="contents-preview">Preview:</label>
            <div class="scrollbox entry-preview" id="contents-preview"></div>
        </div>

        <div class="form-group full-width">
            <label class="bg-dark text-light" for="entry-attach-to">Attach to:</label>
            <ol id="entry-attach-to"></ol>
            <hr />
            <div class="form-group row full-width">
                <div class="col-sm-10">
                    <input class="form-control full-width" type="text" id="entry-attach-to-search" value="" name="dummy" />
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-verydark">Attach Another</button>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-verydark">Create New Entry</button>
    </form>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="/static/manage-entry.js" nonce="{{ csp_nonce() }}"></script>
    <script src="/static/manage-entry-create.js" nonce="{{ csp_nonce() }}"></script>
{% endblock %}