{% extends "base.twig" %}

{% block main %}
    <h2>Control Panel &rsaquo; Collections &rsaquo; {{ collection.title|e('html_attr') }}</h2>

    <h3>Actions</h3>
    <ul>
        <li><a href="/manage/collection/{{ collection.collectionid }}/entries">View/Manage Entries</a></li>
        <li><a href="/manage/collection/{{ collection.collectionid }}/entry/create">Create New Entry</a></li>
        <li>
            <a href="/manage/collection/{{ collection.collectionid }}/entry/{{ entry.entryid }}/inbox">
                View questions for this entry ({{ entry.question_count }})
            </a>
        </li>
    </ul>

    <h3>Update Entry</h3>
    {% if errors %}
        {% for i, error in errors %}
            <p class="error" id="error-{{ i|e('html_attr') }}">{{ error }}</p>
        {% endfor %}
    {% endif %}

    <form method="post">
        {{ anti_csrf() }}
        <div class="form-group">
            Author: <a href="/manage/author/{{ collection.authorid }}">@{{ collection.author_screenname|e('html_attr') }}</a>
        </div>
        <div class="form-group">
            Collection: <a href="/manage/collection/{{ collection.collectionid }}">{{ collection.title|e('html_attr') }}</a>
        </div>
        <div class="form-group">
            <label{% if faqoff_custom.vars['dark-theme'] %} class="bg-dark text-light"{% endif %} for="entry-title">Entry Title:</label>
            <input
                class="form-control"
                id="entry-title"
                name="title"
                required="required"
                type="text"
                value="{{ post.title|e('html_attr') }}"
            />
        </div>
        <div class="form-group">
            <label{% if faqoff_custom.vars['dark-theme'] %} class="bg-dark text-light"{% endif %} for="entry-contents">Contents:</label>
            <textarea
                class="form-control"
                data-collectionid="{{ collection.collectionid }}"
                id="entry-contents"
                name="contents"
            >{{ post.contents|e('html_attr') }}</textarea>
            <small>Markdown allowed.</small>
        </div>
        <div class="form-group">
            <label{% if faqoff_custom.vars['dark-theme'] %} class="bg-dark text-light"{% endif %} for="contents-preview">Preview:</label>
            <div class="scrollbox entry-preview" id="contents-preview"></div>
        </div>
        <div class="form-group full-width">
            <label{% if faqoff_custom.vars['dark-theme'] %} class="bg-dark text-light"{% endif %} for="entry-follow-ups">Follow-Up Entries:</label>
            <select id="entry-follow-ups" multiple="multiple" class="full-width darktext" name="follow-up[]">
            {% for row in entry.options['follow-up'] %}
                <option value="{{ row.entryid }}" selected="selected">{{ row.title|e('html') }}</option>
            {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input{% if entry['index-me'] %}
                checked="checked"{% endif %}
                id="entry-index-checkbox"
                name="index-me"
                type="checkbox"
                value="1"
            />
            <label{% if faqoff_custom.vars['dark-theme'] %} class="bg-dark text-light"{% endif %} for="entry-index-checkbox">
                Include this Entry in the Collection Index?
            </label>
        </div>

        <div class="form-group">
            <input{% if entry['allow_questions'] %}
                checked="checked"{% endif %}
                id="entry-questions-checkbox"
                name="question_box"
                type="checkbox"
                value="1"
            />
            <label{% if faqoff_custom.vars['dark-theme'] %} class="bg-dark text-light"{% endif %} for="entry-questions-checkbox">
                Accept questions for this entry?
            </label>
        </div>

        <button type="submit" class="btn btn-verydark">Update Entry</button>
    </form>
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" integrity="sha256-MeSf8Rmg3b5qLFlijnpxk6l+IJkiR91//YGPCrCmogU=" crossorigin="anonymous" />
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.full.min.js" integrity="sha256-/IUDRcglIrROpUfaxqKxg4kthVduVKB0mvd7PwtlmAk=" crossorigin="anonymous"></script>
    <script src="/static/manage-entry.js" nonce="{{ csp_nonce() }}"></script>
    <script src="/static/manage-entry-edit.js" nonce="{{ csp_nonce() }}"></script>
{% endblock %}