{% extends "base.twig" %}

{% block main %}
    <h2>Control Panel</h2>
    <p>
        Your Public Account ID:
        <code>{{ public_id }}</code>
    </p>

    <ul>
        <li>
            <a href="/manage/authors">Authors</a>
            | <a href="/manage/author/create">Create New Author Profile</a>
            {% if authors %}<ul>
            {% for author in authors %}
                <li>
                    <a href="/manage/author/{{ author.authorid }}">{{ author.screenname|e }}</a>
                </li>
            {% endfor %}
            </ul>{% endif %}
        </li>
        <li>
            <a href="/manage/collections">Collections</a>
            {% if collections %}<ul>
                {% for collection in collections %}
                    <li>
                        <a href="/manage/collection/{{ collection.collectionid }}/entries">{#
                            #}{{ collection.title|e }} {#
                            #}(<strong>@{{ collection['author_screenname']|e }}</strong>){#
                        #}</a>
                    </li>
                {% endfor %}
                </ul>{% endif %}
        </li>
        {% if can_invite %}
        <li>
            <a href="/manage/invite">Invite Users</a>
        </li>
        {% endif %}
    </ul>

{% endblock %}